/.vs
/Nois.Api/bin
/Nois.Api/obj
/Nois.Api.Core/bin
/Nois.Api.Framework/bin
/Nois.Api.Framework/obj
/Nois.Tests/obj
/packages
/Nois.Api.Core/obj
/Nois.Helper/obj/Debug
/Nois.Helper/bin/Debug
/Nois.Helper/obj
/Nois.Helper/bin
/Nois.Api/bin/Nois.Helper.dll
/Nois.Api/bin/Nois.Api.Framework.dll
/Framework/Nois.Framework/obj
/Framework/Nois.Framework/bin
/Framework/Nois.Helper/obj
/Framework/Nois.Helper/bin
/Framework/Nois.WebApi.Framework/obj
/Framework/Nois.WebApi.Framework/bin
/Framework/Nois.WpfApp.Framework/obj
/Framework/Nois.WpfApp.Framework/bin
/Library/Nois.Core/obj
/Library/Nois.Core/bin
/Library/Nois.Services/obj
/Library/Nois.Services/bin
/Presentation/WebApi/Nois.Api/obj
/Presentation/WebApi/Nois.Api/bin
/Presentation/WpfApp/Nois.App/obj
/Presentation/WpfApp/Nois.App/bin
/Presentation/WpfApp/Nois.App.LogByObject/obj
/Presentation/WpfApp/Nois.App.LogByObject/bin
/Presentation/WpfApp/Nois.App.Login/obj
/Presentation/WpfApp/Nois.App.Login/bin
/Presentation/WpfApp/Nois.App.Message/obj
/Presentation/WpfApp/Nois.App.Message/bin
/Presentation/WpfApp/Nois.App.Operation/obj
/Presentation/WpfApp/Nois.App.Operation/bin
/Presentation/WpfApp/Nois.App.Pager/obj
/Presentation/WpfApp/Nois.App.Pager/bin
/Presentation/WpfApp/Nois.App.Report/obj
/Presentation/WpfApp/Nois.App.Report/bin
/Presentation/WpfApp/Nois.App.TcpClient/obj
/Presentation/WpfApp/Nois.App.TcpClient/bin
/Presentation/WpfApp/Nois.App.TcpServer/obj
/Presentation/WpfApp/Nois.App.TcpServer/bin
/Test/TestApis/obj
/Test/TestApis/bin
