<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
  </configSections>
  <connectionStrings>
    <!--local db-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="iEw3hdY4CP/O0ik6FcNSNvavZ2bTTIAjspF0HVScrnf0luRvllTOtV/vEoDohSy7WWf4HDjc/AXo6tF38GWBz8A4OC55kM1A5YONrNvWf8izLcAMePE4s3gYsm9mNbj6aL4T2zyCRg9syj28kcXDt5FRxUyp8sFpN0RDCcEZfFvVSjz2xu0WNWyqIGb7Gk2ITL30Vn5e8knjhjZjf2s4Fdm4ku/8kV7C2Hazz87zYjNgETnw8XmcLxStkw02NLd7tVS5RJyxphjw++2Dl70QZ2G+S/C7UsRo2Gt65n+Y1kcqAm2+zVRsb2qoW+kcVR7UsrRk3qY4dZfrCAUpGHjrNyV/5E0oN3J0hwCZSYqtPomX2bZ7KNypfBwZMouqHVkB" />-->
    <!--server db-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="iEw3hdY4CP/O0ik6FcNSNvavZ2bTTIAjspF0HVScrnf0luRvllTOtV/vEoDohSy7WWf4HDjc/AXo6tF38GWBz8A4OC55kM1A5YONrNvWf8jC29tysfkS6N7kZX0wRL5fS/CZof6pJ2cnu4ZVvIowRYOqowWZ7fnZa/TbuT5HQE8puhhEclpz2VChFjAWLNAumXzW87NMpUsn99o0o/cO3jXCfI/J6sqG5zUCXhWT75OfBjz8vFCCf86oZ2cMMIy9c8Fk9VPPQXOl2ts34FNQ5DP7mDeUbQBcAqV6QG3fWZz/0fEu8yC19kcPfqWaSXZmKJmv79qRqJQ6nodSh9V40x/MvD0uDJHsABFAwDDq8NUYYRdQhlwzc1ycJlDvEINb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/roadbull.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1024" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TimeAutoReport" value="1" />
    <add key="CountAutoReport" value="250" />
    <add key="RunMode" value="Debug" />
    <add key="PLCHost" value="127.0.0.1" />
    <add key="Sender" value="10001" />
    <add key="Receiver" value="10000" />
    <add key="Update" value="10002" />
    <add key="Status" value="3001" />
    <add key="Heartbeat" value="3000" />
  </appSettings>
</configuration>
