<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
      
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
      connectionString="iEw3hdY4CP/O0ik6FcNSNvavZ2bTTIAjspF0HVScrnf0luRvllTOtV/vEoDohSy7WWf4HDjc/AXo6tF38GWBz8A4OC55kM1A5YONrNvWf8izLcAMePE4s3gYsm9mNbj6FTUhuAMAVwNGQR4R2LCSFM1MC8k949zqRRC2rGHRrxUWDNeLAJJZZIsutoVciDoeqwjsLTy8Ow6E2x9O15VenxxYL5STet2c6QDQFWArB6O5XXIy0uJoTi4yN/X7F4T0Z77qS4Nn/NEqSbsxKv82nWKhipVImDKrBdEAZxy4TQzyHCsRuItynAxx7T9X0i/JQSMHY71DqZEhesgG1dGpSnuyAU3ndIdJltqnfJ6ZmWW0oKvp21gEdTQCC3qS4hbx"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>